
.root{
    --Orange: hsl(26, 100%, 55%);
    --PaleOrange: hsl(25, 100%, 94%);

    --Veryvarkblue: hsl(220, 13%, 13%);
    --DarkGrayishBlue: hsl(219, 9%, 45%);
    --GrayishBlue: hsl(220, 14%, 75%);
    --LightGrayishBlue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

.homeContainer{
    display: flex;
        justify-content: center;
        align-items: center;
    padding: 5% 10% 0% 10%;
}

/* left side */
.homePictures{
    display: flex;
        flex-direction: column;
    gap: 10px;
    /* padding: 10%; */
    width: 100%;
        max-width: 525px;
        min-width: 400px;
}

.image{
    border-radius: 15px;
}

.thumbImages{
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
}

.thumbImage{
    border-radius: 15px;    
}

/* right side */
.homeArticles{
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    gap: 25px;
    padding: 5%;
    /* background-color: gray; */
    width: 100%;
    max-width: 555px;
    min-width: 400px;
}

.company{
    color: hsl(26, 100%, 55%);
    font-size: 2rem;
    padding-top: 10%;
}

.title{
    font-size: 4rem;
}

.prices{
    display: flex;
        flex-direction: column;
}

.priceContainer{
    display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    padding-bottom: 10px;
}

.price{
    font-size: 3rem;
    font-weight: bold;
}

.sale{
    background-color: hsl(25, 100%, 94%);
    border-radius: 6px;
    width: 40px;
    height: 25px;
    display:grid;
        place-items: center;
    font-weight: bold;
    color: hsl(26, 100%, 55%);
    font-size: 1.5rem;
}

.prevPrice{
    font-size: 1.5rem;
    font-weight: bold;    
    color:  hsl(220, 14%, 75%);
    text-decoration: line-through;
}

.buttonContainer{
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.toggleButton{
    display: flex;
        justify-content: space-around;
        align-items: center;
    
    background-color: hsl(223, 64%, 98%);
    width: 120px;
    height: 50px;
    border-radius: 15px;
}

.toggleNumber{
    font-size: 2rem;
    font-weight: bold;
}

.addCartButton{
    background-color:hsl(26, 100%, 55%);
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: hsl(0, 0%, 100%); 
    font-weight: bold;
    box-shadow: hsl(26, 100%, 55%) 0px 25px 20px -20px;

    display: flex;
        justify-content: center;
        align-items: center;
}

.addCartButton > p {
    padding-left: 10px;
    font-size: 1.5rem;
}

